

<div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">留言管理</h3>
            </div>
            
			<div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
			  <div id="example1_filter" class="dataTables_filter">
			  <!--form action="">
			  <div class="box-body">
		        <div class="form-group">
		          <label for="module_name">用户名称</label>
		          <input type="text" class="form-control" id="name" name="uname" placeholder="用户名称" value="">
		        </div>
						
		        <div class="form-group search">  
			      <div class="box-footer searchbox">
			        <a class="btn btn-primary" href="/manager/building_index">重置</a>
					<button type="submit" class="btn btn-primary">搜索</button>
			      </div>
		        </div>
		       </div>
				</form-->
					<!--a href="/dcwusers/usersave" class="btn btn-app">
					<i class="fa fa-plus"></i>
					添加
				</a-->
				</div>
			</div>
            
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>id</th>
                  <th>用户ID</th>
                  <th>版本号</th>
                  <th>手机型号</th>
                  <th>内容</th>
                  <th>创建时间</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <?php foreach($data['list'] as $k=>$vo){ ?>
                <tr>
                  <td><?php echo $vo['id'] ?></td>
                  <td><?php echo $vo['uid'] ?></td>
                  <td><?php echo $vo['version'] ?></td>
                  <td><?php echo $vo['lei'] ?></td>
                  <td><?php echo $vo['content'] ?></td>
                  <td><?php echo date('Y-m-d H:i:s',$vo['addtime']); ?></td>
                  <td>
                    <!--a class="btn btn-primary" href="/message/messagedel?id=<?php echo $vo['id'] ?>">删除</a-->
                    <a class="btn btn-primary" href="/message/uesrlist?uid=<?php echo $vo['uid'] ?>">详情</a>
                    <?php for($i=0;$i<count($ass);$i++){ ?>
                        <?php if($ass[$i]['aa']==1 && $vo['uid']==$ass[$i]['uid']){ ?>
                          <span style="color: red; margin-left: 5px;">1</span>
                        <?php } ?>
                    <?php } ?>
                  </td>
                </tr>
                <?php } ?>
                
                </tbody>
              </table>
			  <?php echo $page;?>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
<script type="text/javascript">
  var uid=$(this).attr("fid");
  $(document).ready(function(){
    $.get("message/you",
            {uid:uid},
            function(e) {
              console.log(e);
              map1Layer=e[0].URL;
              map2Layer=e[1].URL;
            },"json")
  });
</script>
