

<div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">用户</h3>
            </div>
            
			<div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
			  <div id="example1_filter" class="dataTables_filter">
			  <form action="">
			  <div class="box-body">
				  <div class="form-group">
					  <label for="module_name">用户id</label>
					  <input type="text" class="form-control" id="id" name="id" placeholder="用户id" value="">
				  </div>
		        <div class="form-group">
		          <label for="module_name">用户名称</label>
		          <input type="text" class="form-control" id="name" name="nickname" placeholder="用户名称" value="">
		        </div>
				  <div class="form-group">
					  <label for="module_name">是否会员</label>
					  <select name="uvip" id="uvip" class="form-control">
						  <option value="">请选择</option>
						  <option value="1">是</option>
						  <option value="0">否</option>
					  </select>
				  </div>
		        <div class="form-group">
		          <label for="module_name">状态</label>
			   	  <select name="state" id="state" class="form-control">
				  	<option value="0">请选择</option>
				  	<option value="1">已禁用</option>
				  	<option value="0">正常</option>
				  </select>
		        </div>			
		        <div class="form-group search">  
			      <div class="box-footer searchbox">
			        <!--a class="btn btn-primary" href="/manager/building_index">重置</a-->
					<button type="submit" class="btn btn-primary">搜索</button>
			      </div>
		        </div>
		       </div>
				</form>
					<!--a href="/users/usersave" class="btn btn-app">
					<i class="fa fa-plus"></i>
					添加
				</a-->
				</div>
			</div>
            
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>id</th>
                  <th>用户名称</th>
                  <th>头像</th>
                  <th>手机号</th>
                  <th>手机型号</th>
                  <th>是否有效</th>
					<th>是否是vip</th>
					<th>注册时间</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <?php foreach($data['list'] as $k=>$vo){ ?>
                <tr>
                  <td><?php echo $vo['id'] ?></td>
                  <td><?php echo $vo['nickname'] ?></td>
                  <td>
					<img src="<?php echo $vo['uhead'] ?>" style="width: 100px;height: 100px;"/>
				  </td>
                  <td><?php echo $vo['phone'] ?></td>
                  <td><?php echo $vo['lei'] ?></td>
				  <td>
					<select  name="state" class="state" sid="<?php echo $vo['id'] ?>">
						<option value ="1" <?php if($vo['state']==1) echo 'selected' ?>>无效</option>
						<option value ="0" <?php if($vo['state']==0) echo 'selected' ?>>有效</option>
					</select>
				  </td>
					<td>
						<?php if($vo['uvip']==1) echo "是(".$vo['totime'].")"; ?>
						<?php if($vo['uvip']==0) echo '否'; ?>
					</td>
					<td><?php echo $vo['ctime'] ?></td>
                  <td><!--a href="/users/usersave?id=<?php echo $vo['id'] ?>">编辑</a-->...</td>
                </tr>
                <?php } ?>
                
                </tbody>
              </table>
			  <?php echo $page;?>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
		
	<script type="text/javascript">
	// 保存更改操作
	$('.state').change(function(){
        var state=$(this).val();
        var id=$(this).attr("sid");
        var ajaxurl = "/dbusers/lists";
         $.ajax({
                url: ajaxurl,
                type: "POST",
                data:{"state": state,"id":id},
                success: function (result) {
                    alert("修改成功");
                },
                error: function () {
                    alert("修改失败");
                }
            });
        
        return false;
    });
	</script>
		
		
		
		