

<div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">用户</h3>
            </div>
            
			<div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
			  <div id="example1_filter" class="dataTables_filter">
			  <form action="" class="formin">
			  <div class="box-body">
		        <div class="form-group">
					<label for="module_name">时间</label>
		          	<input type="text"  class="form-control" id="datepicker" name="stime" placeholder="日期" value="<?php echo $data['stime'] ?>">
		        </div>
		        <div class="form-group search">  
			      <div class="box-footer searchbox">
					  <input type="hidden" name="dc" value="0" class="dc">
					  <a href="javascript:cha()" class="btn btn-primary">查看明细
					  </a>
					  <a href="javascript:chatj()" class="btn btn-primary tongji">查看统计
					  </a>
					  <a href="javascript:search()" class="btn btn-primary">导出统计
					  </a>
					  <a href="javascript:dc()" class="btn btn-primary">
						  导出明细
					  </a>
			      </div>
		        </div>
		       </div>
				</form>
				</div>
			</div>
            <!-- /.box-header -->
			  <div class="box-body" style="display: block;">
				  <table id="example2" class="table table-bordered table-hover">
					  <thead>
					  <tr>
						  <th>id</th>
						  <th>金额</th>
						  <th>方式</th>
						  <th>来源</th>
						  <th>订单日期</th>
					  </tr>
					  </thead>
					  <tbody>
					  <?php foreach($data['list'] as $k=>$vo){ ?>
					  <tr>
						  <td><?php echo $vo['id'] ?></td>
						  <td><?php echo $vo['money'] ?></td>
						  <td><?php echo $vo['pattern'] ?></td>
						  <td><?php echo $vo['source'] ?></td>
						  <td><?php echo $vo['ctime'] ?></td>
					  </tr>
					  <?php } ?>

					  </tbody>
				  </table>
				  <?php echo $page;?>
			  </div>
			  <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
		
	<script type="text/javascript">
		function search(){
			$(".dc").val(2)
			$(".formin").submit();
		}
		function dc(){
			$(".dc").val(1)
			$(".formin").submit();
		}
		function cha(){
			$(".dc").val(0)
			$(".formin").submit();
		}
		function chatj(){
			$(".dc").val(3)
			$(".formin").submit();
		}

		$(function () {
        //Date pickerdatepickers
			$('#datepicker').daterangepicker({
				format: 'YYYY-MM-DD',
				locale: {
					format: 'YYYY-MM-DD',
					applyLabel:'确认',
					cancelLabel:'取消',
					daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
					monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
						'七月', '八月', '九月', '十月', '十一月', '十二月'],
					firstDay: 1
				}

			});
			$('#datepickers').daterangepicker({
				format: 'YYYY-MM-DD',
				locale: {
					format: 'YYYY-MM-DD',
					applyLabel:'确认',
					cancelLabel:'取消',
					daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
					monthNames: ['一月', '二月', '三月', '四月', '五月', '六月',
						'七月', '八月', '九月', '十月', '十一月', '十二月'],
					firstDay: 1
				}
			});
    });
	</script>
		
		
		
		