

<div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">订单列表</h3>
            </div>
            
			<div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
			  <div id="example1_filter" class="dataTables_filter">
			  <form action="">
			  <div class="box-body">
              <div class="form-group">
                  <label for="module_name">支付方式</label>
                  <select name="pattern" id="pattern" class="form-control">
                      <option value="">请选择</option>
                      <option value="微信">微信</option>
                      <option value="支付宝">支付宝</option>
                      <option value="ios内购">ios内购</option>
                  </select>
              </div>
		        <div class="form-group">
		          <label for="module_name">订单状态</label>
			   	  <select name="keyword" id="keyword" class="form-control">
				  	<option value="">全部</option>
				  	<option value="0">未支付</option>
				  	<option value="1">已完成</option>
				  </select>
		        </div>			
		        <div class="form-group search">  
			      <div class="box-footer searchbox">
			        <!--a class="btn btn-primary" href="/manager/building_index">重置</a-->
					<button type="submit" class="btn btn-primary">搜索</button>
					<!--a href="/banner/addsave" class="btn btn-primary">添加</a-->
			      </div>
				  
		        </div>
		       </div>
				</form>
				</div>
			</div>

            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>id</th>
                  <th>用户ID</th>
                  <th>购买金额</th>
                  <th>支付方式</th>
                  <th>支付来源</th>
                  <th>订单号</th>
                  <th>产品</th>
                  <th>生成时间</th>
                  <th>是否完成</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <?php foreach($data['list'] as $k=>$vo){ ?>
                <tr>
                  <td><?php echo $vo['id'] ?></td>
                  <td><?php echo $vo['uid'] ?></td>
                  <td><?php echo $vo['money'] ?></td>
                  <td><?php echo $vo['pattern'] ?></td>
                  <td><?php echo $vo['source'] ?></td>
                  <td><?php echo $vo['outtradeno'] ?></td>
                  <td>
                        <span style="color:#ffaa45;"><?php if($vo['type']==0) echo '会员' ?></span>
                        <span style="color: #0d5ff5;"><?php if($vo['type']==1) echo '查验' ?></span>
                  </td>
                  <td><?php echo $vo['ctime'] ?></td>
                  <td>
					<span style="color:red;"><?php if($vo['state']==0) echo '未支付' ?></span>
                      <span style="color: #33f304;"><?php if($vo['state']==1) echo '已完成' ?></span>
				  </td>
                  <td>
                      <?php if($vo['state']==0 && $vo['checkproof']==0 && $vo['source']=="ios"){ ?>
                      <button sid="<?php echo $vo['id'] ?>" class="btn btn-primary chong">重新获取</button>
                      <?php } ?>
                      <!--a href="/banner/delsoup?id=<?php echo $vo['id'] ?>" class="btn btn-primary">删除</a-->
				  </td>
                </tr>
                <?php } ?>
                
                </tbody>
              </table>
			    <?php echo $page;?>
                <div style="float:right;">
                    <ul class="pagination">
                       <span style="color:red;">总计：</span>
                        微信：<span style="color:red;"><?php echo $weistr; ?></span>元
                        支付宝：<span style="color:red;"><?php echo $zhistr; ?></span>元
                        IOS: <span style="color:red;"><?php echo $iosstr; ?></span>元
                    </ul>
                </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
	<script type="text/javascript">
	// 保存更改操作
    $('.chong').click(function(){
        var id=$(this).attr("sid");
        var ajaxurl = "/order/xiang?id="+id;
        $.ajax({
            url: ajaxurl,
            type: "GET",
            success: function (result) {
                alert("获取成功");
            },
            error: function () {
                alert("获取失败");
            }
        });

        return false;
    });
	</script>