

<div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">时间对应鸡汤列表</h3>
            </div>
            
			<div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
			  <div id="example1_filter" class="dataTables_filter">
			  <form action="">
			  <div class="box-body">
		        <div class="form-group">
		          <label for="module_name">日期</label>
		          <input type="text" class="form-control" id="name" name="day" placeholder="日期" value="">
		        </div>
		        		
		        <div class="form-group search">  
			      <div class="box-footer searchbox">
					<button type="submit" class="btn btn-primary">搜索</button>
					<a href="/jtdat/jtdatsave" class="btn btn-primary">添加</a>
			      </div>
		        </div>
		       </div>
				</form>
				</div>
			</div>
            
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>id</th>
                  <th>日期</th>
                  <th>鸡汤id</th>
                  <th>添加时间</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <?php foreach($data['list'] as $k=>$vo){ ?>
                <tr>
                  <td><?php echo $vo['id'] ?></td>
                  <td><?php echo $vo['day'] ?></td>
                  <td><?php echo $vo['jtid'] ?></td>
                  <td><?php echo date('Y-m-d H:i:s',$vo['ctime']) ?></td>
				  
                  <td><a href="/jtdat/jtdatsave?id=<?php echo $vo['id'] ?>">编辑</a></td>
                </tr>
                <?php } ?>
                
                </tbody>
              </table>
			  <?php echo $page;?>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
		
	<script type="text/javascript">
	// 保存更改操作
	$('select[name="state"]').change(function(){
        var state=$(this).val();
        var id=$(this).attr("sid");
        var ajaxurl = "/dbusers/lists";
         $.ajax({
                url: ajaxurl,
                type: "POST",
                data:{"state": state,"id":id},
                success: function (result) {
                    alert("修改成功");
                },
                error: function () {
                    alert("修改失败");
                }
            });
        
        return false;
    });
	</script>
		
		
		
		